{:paths ["resources" "src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        de.siegmar/fastcsv {:mvn/version "1.0.3"}
        com.ibm.icu/icu4j {:mvn/version "66.1"}}
 :aliases {:readme {:extra-deps {seancorfield/readme {:mvn/version "1.0.13"}}
                    :main-opts ["-m" "seancorfield.readme"]}}}
